BookingManagment/RoomReservationClient/Connected Services/RoomReservationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomReservationService.Model" />
  <xs:element name="BookingRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoomReservationService.Model" minOccurs="0" name="BookingRoomsResult" nillable="true" type="q1:ArrayOfBookingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditBookingRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoomReservationService.Model" minOccurs="0" name="bookingRoom" nillable="true" type="q2:BookingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEditBookingRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEditBookingRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookingRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookingRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookingRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RoomReservationService.Model" minOccurs="0" name="GetBookingRoomResult" nillable="true" type="q3:BookingDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>