BookingManagment/RoomReservationClient/Connected Services/RoomReservationService/RoomReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoomReservationService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoomReservationService_BookingRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingRooms" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_BookingRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_AddEditBookingRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEditBookingRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_AddEditBookingRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEditBookingRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_DeleteBookingRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_DeleteBookingRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_GetBookingRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomReservationService_GetBookingRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoomReservationService">
    <wsdl:operation name="BookingRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomReservationService/BookingRooms" message="tns:IRoomReservationService_BookingRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomReservationService/BookingRoomsResponse" message="tns:IRoomReservationService_BookingRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEditBookingRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomReservationService/AddEditBookingRoom" message="tns:IRoomReservationService_AddEditBookingRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomReservationService/AddEditBookingRoomResponse" message="tns:IRoomReservationService_AddEditBookingRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomReservationService/DeleteBookingRoom" message="tns:IRoomReservationService_DeleteBookingRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomReservationService/DeleteBookingRoomResponse" message="tns:IRoomReservationService_DeleteBookingRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomReservationService/GetBookingRoom" message="tns:IRoomReservationService_GetBookingRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomReservationService/GetBookingRoomResponse" message="tns:IRoomReservationService_GetBookingRoom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoomReservationService" type="tns:IRoomReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookingRooms">
      <soap:operation soapAction="http://tempuri.org/IRoomReservationService/BookingRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEditBookingRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomReservationService/AddEditBookingRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomReservationService/DeleteBookingRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingRoom">
      <soap:operation soapAction="http://tempuri.org/IRoomReservationService/GetBookingRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomReservationService">
    <wsdl:port name="BasicHttpBinding_IRoomReservationService" binding="tns:BasicHttpBinding_IRoomReservationService">
      <soap:address location="http://localhost:8080/RoomReservationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>